.content {
	@apply text-lg leading-relaxed;
}

.content p,
.content ul,
.content ol {
	@apply my-6;
}

.content a {
	@apply underline;
}

.content ul,
.content ol {
	@apply pl-4;
}

.content ul {
	@apply list-disc;
}

.content ol {
	@apply list-decimal;
}

.content ul > li > ul,
.content ol > li > ol {
	@apply my-0 ml-4;
}

.content ul > li > ul {
	list-style: circle;
}

.content h2 {
	@apply mb-4 mt-12 text-3xl leading-snug;
}

.content h3 {
	@apply mb-4 mt-8 text-2xl leading-snug;
}

.content h4 {
	@apply mb-4 mt-6 text-xl leading-snug;
}

/* removes default styling from input color element */
.content ::-webkit-color-swatch {
	border: none;
	transition: background-color 600ms ease-out;
}

.content ::-webkit-color-swatch-wrapper {
	padding: 0;
}

.content ::-moz-color-swatch,
.content ::-moz-focus-inner {
	border: none;
}

.content ::-moz-focus-inner {
	padding: 0;
}

.content figcaption {
	@apply text-center text-sm;
}

.content blockquote {
	@apply ml-0 border-l-4 border-gray-500 bg-gray-200 px-6 py-4 italic;
}

.content blockquote p {
	@apply mt-0;
}

.content blockquote cite {
	@apply not-italic;
}

.content audio {
	@apply w-full;
}

.content img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content a {
	background: linear-gradient(
			to right,
			rgba(100, 200, 200, 1),
			rgba(100, 200, 200, 1)
		),
		linear-gradient(
			to right,
			rgba(255, 0, 0, 1),
			rgba(255, 0, 180, 1),
			rgba(0, 100, 200, 1)
		);
	background-size: 100% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}

.content a:hover,
.content a:focus {
	background-size: 0 0.1em, 100% 0.1em;
}

.content code {
	overflow-x: auto;
	padding: 3px;
	border-radius: 3px;
}

.content pre {
	padding: 10px;
	border-radius: 3px;
	background-color: #000000;
}

.content pre code {
	padding: 0;
}

.audio-card,.audio-card * {
	box-sizing: border-box
}

.audio-card {
	display: flex;
	width: 100%;
	min-height: 96px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px rgba(124,139,154,.25)
}

.audio-card+.audio-card {
	margin-top: 1em
}

.audio-thumbnail {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	min-width: 80px;
	margin: 8px;
	background: 0 0;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: 2px
}

.audio-thumbnail.placeholder {
	background: var(--ghost-accent-color)
}

.audio-thumbnail.placeholder svg {
	width: 24px;
	height: 24px;
	fill: #fff
}

.audio-player-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	--seek-before-width: 0%;
	--volume-before-width: 100%;
	--buffered-width: 0%
}

.audio-title {
	width: 100%;
	margin: 8px 0 0;
	padding: 8px 12px;
	border: 0;
	font-family: inherit;
	font-size: 1.15em;
	font-weight: 700;
	line-height: 1.15em;
	background: 0 0
}

.audio-player {
	display: flex;
	flex-grow: 1;
	align-items: center;
	padding: 8px 12px
}

.audio-current-time,.audio-time {
	font-family: inherit;
	font-size: .85em;
	font-weight: 500;
	line-height: 1.4em;
	white-space: nowrap
}

.audio-current-time {
	min-width: 38px;
	padding: 0 4px
}

.audio-time {
	width: 56px;
	color: #ababab
}

.audio-duration {
	padding: 0 4px
}

.audio-pause-icon,.audio-play-icon {
	position: relative;
	bottom: 1px;
	padding: 0 4px 0 0;
	font-size: 0;
	background: 0 0
}

.audio-hide {
	display: none!important
}

.audio-pause-icon svg,.audio-play-icon svg {
	width: 14px;
	height: 14px;
	fill: currentColor
}

.audio-seek-slider {
	flex-grow: 1;
	margin: 0 4px
}

@media (max-width: 640px) {
	.audio-seek-slider {
			display:none
	}
}

.audio-playback-rate {
	min-width: 37px;
	padding: 0 4px;
	font-family: inherit;
	font-size: .85em;
	font-weight: 600;
	line-height: 1.4em;
	text-align: left;
	background: 0 0;
	white-space: nowrap
}

@media (max-width: 640px) {
	.audio-playback-rate {
			padding-left:8px
	}
}

.audio-mute-icon,.audio-unmute-icon {
	position: relative;
	bottom: -1px;
	padding: 0 4px;
	font-size: 0;
	background: 0 0
}

@media (max-width: 640px) {
	.audio-mute-icon,.audio-unmute-icon {
			margin-left:auto
	}
}

.audio-mute-icon svg,.audio-unmute-icon svg {
	width: 16px;
	height: 16px;
	fill: currentColor
}

.audio-volume-slider {
	width: 80px
}

@media (max-width: 400px) {
	.audio-volume-slider {
			display:none
	}
}

.audio-seek-slider::before,.audio-volume-slider::before {
	content: "";
	position: absolute;
	left: 0;
	width: var(--seek-before-width)!important;
	height: 4px;
	cursor: pointer;
	background-color: currentColor;
	border-radius: 2px
}

.audio-volume-slider::before {
	width: var(--volume-before-width)!important
}

.audio-player-container input[type=range] {
	position: relative;
	-webkit-appearance: none;
	background: 0 0;
	height: auto;
	padding: 0;
	border: 0
}

.audio-player-container input[type=range]:focus,.video-card input[type=range]:focus {
	outline: 0
}

.audio-player-container input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none
}

.audio-player-container button,.video-card button {
	display: flex;
	align-items: center;
	border: 0;
	cursor: pointer
}

.audio-player-container input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: rgba(124,139,154,.25);
	border-radius: 2px
}

.audio-player-container input[type=range]::-webkit-slider-thumb {
	position: relative;
	box-sizing: content-box;
	width: 13px;
	height: 13px;
	margin: -5px 0 0;
	border: 0;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 4px rgba(0,0,0,.24)
}

.audio-player-container input[type=range]:active::-webkit-slider-thumb {
	transform: scale(1.2)
}

.audio-player-container input[type=range]::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: rgba(124,139,154,.25);
	border-radius: 2px
}

.audio-player-container input[type=range]::-moz-range-progress {
	background: currentColor;
	border-radius: 2px
}

.audio-player-container input[type=range]::-moz-range-thumb {
	box-sizing: content-box;
	width: 13px;
	height: 13px;
	border: 0;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 4px rgba(0,0,0,.24)
}

.audio-player-container input[type=range]:active::-moz-range-thumb {
	transform: scale(1.2)
}

.audio-player-container input[type=range]::-ms-track {
	width: 100%;
	height: 3px;
	border: solid transparent;
	color: transparent;
	cursor: pointer;
	background: 0 0
}

.audio-player-container input[type=range]::-ms-fill-lower {
	background: #fff
}

.audio-player-container input[type=range]::-ms-fill-upper {
	background: currentColor
}

.audio-player-container input[type=range]::-ms-thumb {
	box-sizing: content-box;
	width: 13px;
	height: 13px;
	border: 0;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 4px rgba(0,0,0,.24)
}

.audio-player-container input[type=range]:active::-ms-thumb {
	transform: scale(1.2)
}

.blockquote-alt {
	font-size: 1.5em;
	font-style: italic;
	line-height: 1.7em;
	text-align: center;
	padding: 0 2.5em
}

@media (max-width: 800px) {
	.blockquote-alt {
			font-size:1.4em;
			padding-left: 2em;
			padding-right: 2em
	}
}

@media (max-width: 600px) {
	.blockquote-alt {
			font-size:1.2em;
			padding-left: 1.75em;
			padding-right: 1.75em
	}
}

.button-card,.button-card * {
	box-sizing: border-box
}

.button-card,.button-card a.btn {
	display: flex;
	position: static;
	align-items: center
}

.button-card {
	width: 100%;
	justify-content: center
}

.button-card.align-left {
	justify-content: flex-start
}

.button-card a.btn {
	padding: 0 1.2em;
	height: 2.4em;
	line-height: 1em;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: .95em;
	font-weight: 600;
	text-decoration: none;
	border-radius: 5px;
	transition: opacity .2s ease-in-out
}

.button-card a.btn:hover {
	opacity: .85
}

.button-card a.btn-accent {
	background-color: var(--ghost-accent-color);
	color: #fff
}

.callout-card,.callout-card * {
	box-sizing: border-box
}

.callout-card {
	display: flex;
	padding: 1.2em 1.6em;
	border-radius: 3px
}

.callout-card-grey {
	background: rgba(124,139,154,.13)
}

.callout-card-white {
	background: 0 0;
	box-shadow: inset 0 0 0 1px rgba(124,139,154,.25)
}

.callout-card-blue {
	background: rgba(33,172,232,.12)
}

.callout-card-green {
	background: rgba(52,183,67,.12)
}

.callout-card-yellow {
	background: rgba(240,165,15,.13)
}

.callout-card-red {
	background: rgba(209,46,46,.11)
}

.callout-card-pink {
	background: rgba(225,71,174,.11)
}

.callout-card-purple {
	background: rgba(135,85,236,.12)
}

.callout-card-accent {
	background: var(--ghost-accent-color);
	color: #fff
}

.callout-card.callout-card-accent a {
	color: #fff;
	text-decoration: underline
}

.callout-card div.callout-emoji {
	padding-right: .8em;
	line-height: 1.25em;
	font-size: 1.15em
}

.callout-card div.callout-text {
	font-size: .95em;
	line-height: 1.5em
}

.callout-card+.callout-card {
	margin-top: 1em
}

.file-card,.file-card * {
	box-sizing: border-box
}

.file-card {
	display: flex
}

.file-card a.file-card-container {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	color: inherit;
	padding: 6px;
	min-height: 92px;
	border: 1px solid rgb(124 139 154/25%);
	border-radius: 3px;
	transition: all ease-in-out .35s;
	text-decoration: none;
	width: 100%
}

.file-card a.file-card-container:hover {
	border: 1px solid rgb(124 139 154/35%)
}

.file-card-contents {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 4px 8px;
	width: 100%
}

.file-card-title {
	font-size: 1.15em;
	font-weight: 700;
	line-height: 1.3em
}

.file-card-caption {
	font-size: .95em;
	line-height: 1.3em;
	opacity: .6
}

.file-card-title+.file-card-caption {
	margin-top: -3px
}

.file-card-metadata {
	display: inline;
	font-size: .825em;
	line-height: 1.3em;
	margin-top: 2px
}

.file-card-filename {
	display: inline;
	font-weight: 500
}

.file-card-filesize {
	display: inline-block;
	font-size: .925em;
	opacity: .6
}

.file-card-filesize:before {
	display: inline-block;
	content: "â€¢";
	margin-right: 4px
}

.file-card-icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	min-width: 80px;
	height: 100%
}

.file-card-icon:before,.header-card.style-image::before {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.file-card-icon:before {
	background: currentColor;
	opacity: .06;
	transition: opacity ease-in-out .35s;
	border-radius: 2px
}

.file-card a.file-card-container:hover .file-card-icon:before {
	opacity: .08
}

.file-card-icon svg {
	width: 24px;
	height: 24px;
	color: var(--ghost-accent-color)
}

.file-card-medium a.file-card-container {
	min-height: 72px
}

.file-card-medium .file-card-caption {
	opacity: 1;
	font-weight: 500
}

.file-card-small a.file-card-container {
	align-items: center;
	min-height: 52px
}

.file-card-small .file-card-metadata {
	font-size: 1em;
	margin-top: 0
}

.file-card-small .file-card-icon svg {
	width: 20px;
	height: 20px
}

.file-card+.file-card {
	margin-top: 1em
}

.header-card,.header-card * {
	box-sizing: border-box
}

.header-card {
	padding: 12vmin 4em;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center
}

.header-card.size-small {
	padding-top: 14vmin;
	padding-bottom: 14vmin;
	min-height: 40vh
}

.header-card.size-large {
	padding-top: 18vmin;
	padding-bottom: 18vmin;
	min-height: 80vh
}

.header-card.align-left {
	text-align: left;
	align-items: flex-start
}

.header-card.style-dark {
	background: #151515;
	color: #fff
}

.header-card.style-light {
	background-color: #fafafa
}

.header-card.style-accent,.header-card.style-accent.v2 {
	background-color: var(--ghost-accent-color)
}

.header-card.style-image {
	position: relative;
	background-color: #e7e7e7;
	background-size: cover;
	background-position: center
}

.header-card.style-image::before {
	background: linear-gradient(0deg,transparent,rgba(0,0,0,.2))
}

.header-card h2.header-card-header {
	font-size: 5em;
	font-weight: 700;
	line-height: 1.1em;
	letter-spacing: -.01em;
	margin: 0
}

.header-card h2.header-card-header strong {
	font-weight: 800
}

.header-card.size-small h2.header-card-header {
	font-size: 4em
}

.header-card.size-large h2.header-card-header {
	font-size: 6em
}

.header-card h3.header-card-subheader {
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.4em;
	margin: 0;
	max-width: 40em
}

.header-card h2+h3.header-card-subheader {
	margin: .35em 0 0
}

.header-card h3.header-card-subheader strong,.header-card h3.header-card-subheading strong,.signup-card h3.signup-card-subheading strong {
	font-weight: 600
}

.header-card.size-small h3.header-card-subheader {
	font-size: 1.25em
}

.header-card.size-large h3.header-card-subheader {
	font-size: 1.75em
}

.header-card:not(.style-light) h2.header-card-header,.header-card:not(.style-light) h3.header-card-subheader {
	color: #fff
}

.header-card.style-accent h3.header-card-subheader,.header-card.style-image h3.header-card-subheader,.product-card-rating-active.product-card-rating-star svg {
	opacity: 1
}

.header-card.style-image a.header-card-button,.header-card.style-image h2.header-card-header,.header-card.style-image h3.header-card-subheader {
	z-index: 999
}

.header-card h2.header-card-header a,.header-card h3.header-card-subheader a {
	color: var(--ghost-accent-color)
}

.header-card.style-accent h2.header-card-header a,.header-card.style-accent h3.header-card-subheader a,.header-card.style-image h2.header-card-header a,.header-card.style-image h3.header-card-subheader a {
	color: #fff
}

.header-card a.header-card-button {
	display: flex;
	position: static;
	align-items: center;
	fill: #fff;
	background: #fff;
	border-radius: 3px;
	outline: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 1.05em;
	font-weight: 600;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	letter-spacing: .2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #151515;
	height: 2.7em;
	padding: 0 1.2em;
	transition: opacity .2s ease
}

.header-card h2+a.header-card-button,.header-card h3+a.header-card-button {
	margin: 1.75em 0 0
}

.header-card a.header-card-button:hover {
	opacity: .85
}

.header-card.size-large a.header-card-button {
	font-size: 1.1em;
	height: 2.9em
}

.header-card.size-large h2+a.header-card-button,.header-card.size-large h3+a.header-card-button {
	margin-top: 2em
}

.header-card.size-small a.header-card-button {
	height: 2.4em;
	font-size: 1em
}

.header-card.size-small h2+a.header-card-button,.header-card.size-small h3+a.header-card-button {
	margin-top: 1.5em
}

.header-card.style-dark a.header-card-button,.header-card.style-image a.header-card-button {
	background: #fff;
	color: #151515
}

.header-card.style-light a.header-card-button {
	background: var(--ghost-accent-color);
	color: #fff
}

.header-card.style-accent a.header-card-button {
	background: #fff;
	color: #151515
}

@media (max-width: 640px) {
	.header-card {
			padding-left:1em;
			padding-right: 1em
	}

	.header-card h2.header-card-header {
			font-size: 3.5em
	}

	.header-card.size-large h2.header-card-header {
			font-size: 4em
	}

	.header-card.size-small h2.header-card-header {
			font-size: 3em
	}

	.header-card h3.header-card-subheader {
			font-size: 1.25em
	}

	.header-card.size-large h3.header-card-subheader {
			font-size: 1.5em
	}

	.header-card.size-small h3.header-card-subheader {
			font-size: 1em
	}
}

.header-card.v2 {
	position: relative;
	padding: 0;
	min-height: initial;
	text-align: initial;
	box-sizing: border-box
}

.header-card.v2 * {
	box-sizing: border-box
}

.header-card.v2 a,.header-card.v2 a span,.signup-card a,.signup-card a span {
	color: currentColor
}

.header-card-content {
	width: 100%
}

.layout-split .header-card-content {
	display: grid;
	grid-template-columns: 1fr 1fr
}

.header-card-text {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	padding: min(6.4vmax,120px) min(4vmax,80px);
	background-size: cover;
	background-position: center;
	text-align: left
}

.width-wide .header-card-text {
	padding: min(10vmax,220px) min(6.4vmax,140px)
}

.width-full .header-card-text {
	padding: min(12vmax,260px)0
}

.layout-split .header-card-text {
	padding: min(12vmax,260px) min(4vmax,80px)
}

.layout-split.content-wide .header-card-text {
	padding: min(10vmax,220px)0 min(10vmax,220px) min(4vmax,80px)
}

.layout-split.content-wide.swapped .header-card-text {
	padding: min(10vmax,220px) min(4vmax,80px) min(10vmax,220px)0
}

.swapped .header-card-text {
	grid-row: 1
}

.header-card-text.align-center {
	align-items: center;
	text-align: center
}

.header-card.style-image h2.header-card-heading,.header-card.style-image h3.header-card-subheading,.header-card.style-image.v2 .header-card-button {
	z-index: 999
}

.header-card>picture>.header-card-image,.signup-card>picture>.signup-card-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	background-color: #fff;
	pointer-events: none
}

.header-card-content .header-card-image {
	width: 100%;
	height: 0;
	min-height: 100%;
	object-fit: cover;
	object-position: center
}

.content-wide .header-card-content .header-card-image {
	height: 100%;
	padding: 8rem 0;
	object-fit: contain
}

.header-card h2.header-card-heading,.signup-card h2.signup-card-heading {
	margin: 0;
	font-size: clamp(2.8rem,4vw,4rem);
	font-weight: 700;
	line-height: 1em;
	letter-spacing: -.01em
}

.header-card.width-wide h2.header-card-heading {
	font-size: clamp(2.8rem,5vw,5.2rem)
}

.header-card.width-full h2.header-card-heading {
	font-size: clamp(3.6rem,5.6vw,6.4rem)
}

.header-card.width-full.layout-split h2.header-card-heading,.signup-card.width-full.layout-split h2.signup-card-heading {
	font-size: clamp(3.2rem,4vw,5.6rem)
}

.header-card.width-full.layout-split.content-wide h2.header-card-heading,.signup-card.width-full.layout-split.content-wide h2.signup-card-heading {
	font-size: clamp(2.8rem,4vw,5.2rem)
}

.header-card-subheading {
	margin: 0 0 2em
}

.header-card h3.header-card-subheading,.signup-card h3.signup-card-subheading {
	max-width: 40em;
	margin: 0;
	font-size: clamp(1.05em,2vw,2rem);
	font-weight: 500;
	line-height: 1.4em
}

.header-card h2+h3.header-card-subheading,.signup-card h2+h3.signup-card-subheading {
	margin: .6em 0 0
}

.header-card.width-full.layout-split h3.header-card-subheading,.header-card.width-wide h3.header-card-subheading {
	font-size: clamp(1.05em,2vw,2.4rem)
}

.header-card.width-full h3.header-card-subheading:not(.layout-split h3.header-card-subheading) {
	max-width: min(65vmax,1200px);
	font-size: clamp(1.05em,2vw,2.6rem)
}

.header-card.v2 .header-card-button {
	display: flex;
	position: relative;
	align-items: center;
	height: 4.6rem;
	padding: 0 1.2em;
	outline: 0;
	border: 0;
	font-size: 1em;
	font-weight: 600;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	letter-spacing: .2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius: 3px;
	transition: opacity .2s ease
}

.header-card.v2 .header-card-button.style-accent {
	background-color: var(--ghost-accent-color)
}

.header-card.v2 h2+.header-card-button,.header-card.v2 h3+.header-card-button,.signup-card h2+.signup-card-button,.signup-card h3+.signup-card-button {
	margin: 1.5em 0 0
}

.header-card.v2 .header-card-button:hover {
	opacity: .85
}

.header-card.v2.width-wide .header-card-button {
	font-size: 1.05em
}

.header-card.v2.width-wide h2+.header-card-button,.header-card.v2.width-wide h3+.header-card-button,.signup-card.width-wide h2+.signup-card-button,.signup-card.width-wide h3+.signup-card-button {
	margin-top: 1.75em
}

.header-card.v2.width-full .header-card-button {
	font-size: 1.1em
}

.header-card.v2.width-full h2+.header-card-button,.header-card.v2.width-full h3+.header-card-button,.signup-card.width-full h2+.signup-card-button,.signup-card.width-full h3+.signup-card-button {
	margin-top: 2em
}

@media (max-width: 640px) {
	.layout-split .header-card-content {
			grid-template-columns:1fr
	}

	.width-wide .header-card-text {
			padding: min(6.4vmax,120px) min(4vmax,80px)
	}

	.layout-split.content-wide .header-card-text,.layout-split.content-wide.swapped .header-card-text {
			padding: min(9.6vmax,180px)0
	}

	.header-card.width-full h3.header-card-subheading:not(.layout-split h3.header-card-subheading) {
			max-width: unset
	}

	.header-card-content .header-card-image:not(.content-wide .header-card-content .header-card-image) {
			height: auto;
			min-height: unset;
			aspect-ratio: 1/1
	}

	.content-wide .header-card-content .header-card-image {
			padding: 2.4rem 0 0
	}

	.content-wide.swapped .header-card-content .header-card-image {
			padding: 0 0 2.4rem
	}

	.header-card.v2 .header-card-button {
			height: 4.2rem
	}

	.header-card.v2.width-full .header-card-button,.header-card.v2.width-wide .header-card-button {
			font-size: 1em
	}
}

.nft-card,.nft-card * {
	box-sizing: border-box
}

.nft-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto
}

.nft-card a.nft-card-container {
	position: static;
	display: flex;
	flex: auto;
	flex-direction: column;
	text-decoration: none;
	font-family: -apple-system,BlinkMacSystemFont,"avenir next",avenir,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	box-shadow: 0 2px 6px -2px rgb(0 0 0/10%),0 0 1px rgb(0 0 0/40%);
	width: 100%;
	max-width: 512px;
	color: #222;
	background: #fff;
	border-radius: 5px;
	transition: none
}

.nft-card * {
	position: static
}

.nft-metadata {
	padding: 20px;
	width: 100%
}

.nft-image {
	border-radius: 5px 5px 0 0;
	width: 100%
}

.nft-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px
}

.nft-header h4.nft-title {
	font-family: inherit;
	font-size: 19px;
	font-weight: 700;
	line-height: 1.3em;
	min-width: unset;
	max-width: unset;
	margin: 0;
	color: #222
}

.nft-opensea-logo {
	margin-top: 2px;
	width: 100px;
	object-fit: scale-down
}

.nft-card p.nft-description,.nft-creator {
	font-family: inherit;
	line-height: 1.4em;
	margin: 4px 0 0;
	color: #ababab
}

.nft-creator span {
	font-weight: 500;
	color: #222
}

.nft-card p.nft-description {
	font-size: 14px;
	margin: 20px 0 0;
	color: #222
}

.product-card,.product-card * {
	box-sizing: border-box
}

.product-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%
}

.product-card-container {
	display: grid;
	grid-template-columns: auto min-content;
	align-items: center;
	grid-row-gap: 16px;
	background: 0 0;
	max-width: 550px;
	padding: 20px;
	width: 100%;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px rgb(124 139 154/25%)
}

.product-card-image {
	grid-column: 1/3;
	justify-self: center;
	height: auto
}

.product-card-title-container {
	grid-column: 1/2
}

.product-card h4.product-card-title {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.15em
}

.product-card-description {
	grid-column: 1/3
}

.product-card .product-card-description ol,.product-card .product-card-description p,.product-card .product-card-description ul {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: .95em;
	line-height: 1.5em;
	opacity: .7;
	margin-bottom: 0
}

.product-card .product-card-description p:first-of-type {
	margin-top: -4px
}

.product-card .product-card-description ol,.product-card .product-card-description p:not(:first-of-type),.product-card .product-card-description ul {
	margin-top: .95em
}

.product-card .product-card-description li+li,.toggle-card li+li {
	margin-top: .5em
}

.product-card-rating {
	display: flex;
	align-items: center;
	grid-column: 2/3;
	align-self: start;
	justify-self: end;
	padding-left: 16px
}

@media (max-width: 400px) {
	.product-card-title-container {
			grid-column:1/3
	}

	.product-card-rating {
			grid-column: 1/3;
			justify-self: start;
			margin-top: -15px;
			padding-left: 0
	}
}

.product-card-rating-star {
	height: 28px;
	width: 20px
}

.product-card-rating-star svg {
	width: 16px;
	height: 16px;
	fill: currentColor;
	opacity: .15
}

.product-card a.product-card-button {
	justify-content: center;
	grid-column: 1/3;
	display: flex;
	position: static;
	align-items: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: .95em;
	font-weight: 600;
	line-height: 1em;
	text-decoration: none;
	width: 100%;
	height: 2.4em;
	border-radius: 5px;
	padding: 0 1.2em;
	transition: opacity .2s ease-in-out
}

.product-card a.product-card-btn-accent {
	background-color: var(--ghost-accent-color);
	color: #fff
}

.signup-card {
	position: relative
}

.signup-card,.signup-card * {
	box-sizing: border-box
}

.signup-card.style-accent {
	background-color: var(--ghost-accent-color)
}

.layout-split .signup-card-content {
	display: grid;
	grid-template-columns: 1fr 1fr
}

.signup-card-text {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	padding: min(4vmax,80px);
	background-size: cover;
	background-position: center;
	text-align: left
}

.width-wide .signup-card-text {
	padding: min(6.4vmax,120px)
}

.width-full .signup-card-text {
	padding: min(12vmax,260px)0
}

.layout-split .signup-card-text {
	padding: min(12vmax,260px) min(4vmax,80px)
}

.layout-split.content-wide .signup-card-text {
	padding: min(10vmax,220px)0 min(10vmax,220px) min(4vmax,80px)
}

.layout-split.content-wide.swapped .signup-card-text {
	padding: min(10vmax,220px) min(4vmax,80px) min(10vmax,220px)0
}

.swapped .signup-card-text {
	grid-row: 1
}

.signup-card-text.align-center {
	align-items: center;
	text-align: center
}

.signup-card.style-image .signup-card-button,.signup-card.style-image h2.signup-card-heading,.signup-card.style-image h3.signup-card-subheading {
	z-index: 999
}

.signup-card-content .signup-card-image {
	width: 100%;
	height: 0;
	min-height: 100%;
	object-fit: cover;
	object-position: center
}

.content-wide .signup-card-content .signup-card-image {
	height: 100%;
	padding: 8rem 0;
	object-fit: contain
}

.signup-card.width-wide h2.signup-card-heading {
	font-size: clamp(2.8rem,5vw,5.2rem)
}

.signup-card.width-full h2.signup-card-heading {
	font-size: clamp(3.6rem,5.6vw,6.4rem)
}

.signup-card-subheading {
	margin: 0 0 2em
}

.signup-card.width-full.layout-split h3.signup-card-subheading,.signup-card.width-wide h3.signup-card-subheading {
	font-size: clamp(1.05em,2vw,2.4rem)
}

.signup-card.width-full h3.signup-card-subheading:not(.layout-split h3.signup-card-subheading) {
	max-width: min(65vmax,1200px);
	font-size: clamp(1.05em,2vw,2.6rem)
}

.signup-card-form {
	position: relative;
	display: flex;
	flex-shrink: 0;
	width: 100%
}

.align-center .signup-card-form {
	justify-content: center
}

.signup-card-heading+.signup-card-form,.signup-card-subheading+.signup-card-form {
	margin: min(2.4vmax,48px)0 0
}

.width-wide .signup-card-heading+.signup-card-form,.width-wide .signup-card-subheading+.signup-card-form {
	margin: min(3.2vmax,64px)0 0
}

.width-full .signup-card-heading+.signup-card-form,.width-full .signup-card-subheading+.signup-card-form {
	margin: min(4vmax,80px)0 0
}

.signup-card-fields {
	display: flex;
	width: 100%;
	padding: 3px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 4px
}

.width-full .signup-card-fields,.width-wide .signup-card-fields {
	width: 100%;
	max-width: 500px
}

.signup-card-input {
	width: 100%;
	height: 4.6rem;
	margin: 0 3px 0 0;
	padding: 12px 16px;
	border: 0;
	background: #fff;
	font-size: 1.1em
}

.signup-card-input:focus,.signup-card-input:focus-visible {
	outline: 0
}

.signup-card-button {
	display: flex;
	position: relative;
	align-items: center;
	height: 4.6rem;
	padding: 0 1.2em;
	outline: 0;
	border: 0;
	font-size: 1em;
	font-weight: 600;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	letter-spacing: .2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius: 3px;
	transition: opacity .2s ease
}

.signup-card-button.style-accent {
	background-color: var(--ghost-accent-color)
}

.signup-card .signup-card-button:hover {
	opacity: .85
}

.signup-card.width-wide .signup-card-button {
	font-size: 1.05em
}

.signup-card.width-full .signup-card-button {
	font-size: 1.1em
}

.signup-card-error,.signup-card-form.success .signup-card-fields,.signup-card-success {
	display: none
}

.signup-card-form.success .signup-card-success {
	display: flex;
	align-items: center;
	height: 3em;
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.4em
}

.signup-card-form.error .signup-card-fields {
	border: 1px solid red;
	box-shadow: inset 0 0 0 1px rgba(255,0,0,.2)
}

.signup-card-form.error .signup-card-error {
	position: absolute;
	bottom: calc(-1rem - 1.6em);
	display: block;
	font-size: inherit
}

.signup-card-button-loading {
	position: absolute;
	inset: 0;
	align-items: center;
	justify-content: center;
	display: none
}

.signup-card-form.loading .signup-card-button-default {
	color: transparent
}

.signup-card-form.loading .signup-card-button-loading {
	display: flex
}

.signup-card-disclaimer {
	margin: 1rem 0 0
}

.signup-card-form.error+.signup-card-disclaimer,.signup-card-form.success+.signup-card-disclaimer {
	visibility: hidden
}

@media (max-width: 640px) {
	.layout-split .signup-card-content {
			grid-template-columns:1fr
	}

	.width-wide .signup-card-text {
			padding: min(6.4vmax,120px) min(4vmax,80px)
	}

	.layout-split.content-wide .signup-card-text,.layout-split.content-wide.swapped .signup-card-text {
			padding: min(9.6vmax,180px)0
	}

	.signup-card.width-full h3.signup-card-subheading:not(.layout-split h3.signup-card-subheading) {
			max-width: unset
	}

	.signup-card-content .signup-card-image:not(.content-wide .signup-card-content .signup-card-image) {
			height: auto;
			min-height: unset;
			aspect-ratio: 1/1
	}

	.content-wide .signup-card-content .signup-card-image {
			padding: 2.4rem 0 0
	}

	.content-wide.swapped .signup-card-content .signup-card-image {
			padding: 0 0 2.4rem
	}

	.signup-card-input {
			height: 4.2rem;
			padding: 6px 12px;
			font-size: 1em
	}

	.signup-card-button {
			height: 4.2rem
	}

	.signup-card.width-full .signup-card-button,.signup-card.width-wide .signup-card-button {
			font-size: 1em
	}
}

.toggle-card,.toggle-card * {
	box-sizing: border-box
}

.toggle-card {
	background: 0 0;
	box-shadow: inset 0 0 0 1px rgba(124,139,154,.25);
	border-radius: 4px;
	padding: 1.2em
}

.toggle-card[data-kg-toggle-state=close] .toggle-content {
	height: 0;
	overflow: hidden;
	transition: opacity .5s ease,top .35s ease;
	opacity: 0;
	top: -.5em;
	position: relative
}

.toggle-content {
	height: auto;
	opacity: 1;
	transition: opacity 1s ease,top .35s ease;
	top: 0;
	position: relative
}

.toggle-card[data-kg-toggle-state=close] svg {
	transform: unset
}

.toggle-heading {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: flex-start
}

.toggle-card h4.toggle-heading-text {
	font-size: 1.15em;
	font-weight: 700;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 0
}

.toggle-content p:first-of-type {
	margin-top: .5em
}

.toggle-card .toggle-content ol,.toggle-card .toggle-content p,.toggle-card .toggle-content ul {
	font-size: .95em;
	line-height: 1.5em;
	margin-top: .95em;
	margin-bottom: 0
}

.toggle-card-icon {
	height: 24px;
	width: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1em;
	background: 0 0;
	border: 0
}

.toggle-heading svg {
	width: 14px;
	color: rgba(124,139,154,.5);
	transition: all .3s;
	transform: rotate(-180deg)
}

.toggle-heading path {
	fill: none;
	stroke: currentcolor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1.5;
	fill-rule: evenodd
}

.toggle-card+.toggle-card {
	margin-top: 1em
}

.video-card,.video-card * {
	box-sizing: border-box
}

.video-card {
	position: relative;
	--seek-before-width: 0%;
	--volume-before-width: 100%;
	--buffered-width: 0%
}

.video-card video {
	display: block;
	max-width: 100%;
	height: auto
}

.video-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center
}

.video-large-play-icon,.video-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .2s ease-in-out
}

.video-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(180deg,rgba(0,0,0,.3)0,transparent 70%,transparent 100%);
	z-index: 999
}

.video-large-play-icon {
	width: 72px;
	height: 72px;
	padding: 0;
	background: rgba(0,0,0,.5);
	border-radius: 50%
}

.video-large-play-icon svg {
	width: 20px;
	height: auto;
	margin-left: 2px;
	fill: #fff
}

.video-player-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background: linear-gradient(transparent,rgba(0,0,0,.5));
	z-index: 999;
	transition: opacity .2s ease-in-out
}

.video-player {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	width: 100%;
	z-index: 9999;
	padding: 12px 16px
}

.video-current-time,.video-time {
	font-family: inherit;
	font-size: .85em;
	font-weight: 500;
	line-height: 1.4em;
	white-space: nowrap
}

.video-current-time {
	min-width: 38px;
	padding: 0 4px;
	color: #fff
}

.video-time {
	color: rgba(255,255,255,.6)
}

.video-duration {
	padding: 0 4px
}

.video-pause-icon,.video-play-icon {
	position: relative;
	padding: 0 4px 0 0;
	font-size: 0;
	background: 0 0
}

.video-hide {
	display: none!important
}

.video-hide-animated {
	opacity: 0!important;
	transition: opacity .2s ease-in-out;
	cursor: initial
}

.video-pause-icon svg,.video-play-icon svg {
	width: 14px;
	height: 14px;
	fill: #fff
}

.video-seek-slider {
	flex-grow: 1;
	margin: 0 4px
}

@media (max-width: 520px) {
	.video-seek-slider {
			display:none
	}
}

.video-playback-rate {
	min-width: 37px;
	padding: 0 4px;
	color: #fff;
	font-family: inherit;
	font-size: .85em;
	font-weight: 600;
	line-height: 1.4em;
	text-align: left;
	background: 0 0;
	white-space: nowrap
}

@media (max-width: 520px) {
	.video-playback-rate {
			padding-left:8px
	}
}

.video-mute-icon,.video-unmute-icon {
	position: relative;
	bottom: -1px;
	padding: 0 4px;
	font-size: 0;
	background: 0 0
}

@media (max-width: 520px) {
	.video-mute-icon,.video-unmute-icon {
			margin-left:auto
	}
}

.video-mute-icon svg,.video-unmute-icon svg {
	width: 16px;
	height: 16px;
	fill: #fff
}

.video-volume-slider {
	width: 80px
}

@media (max-width: 300px) {
	.video-volume-slider {
			display:none
	}
}

.video-seek-slider::before,.video-volume-slider::before {
	content: "";
	position: absolute;
	left: 0;
	width: var(--seek-before-width)!important;
	height: 4px;
	cursor: pointer;
	background-color: #ebeef0;
	border-radius: 2px
}

.video-volume-slider::before {
	width: var(--volume-before-width)!important
}

.video-card input[type=range] {
	position: relative;
	-webkit-appearance: none;
	background: 0 0;
	height: auto;
	padding: 0;
	border: 0
}

.video-card input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none
}

.video-card input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: rgba(255,255,255,.2);
	border-radius: 2px
}

.video-card input[type=range]::-webkit-slider-thumb {
	position: relative;
	box-sizing: content-box;
	width: 13px;
	height: 13px;
	margin: -5px 0 0;
	border: 0;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 4px rgba(0,0,0,.24)
}

.video-card input[type=range]:active::-webkit-slider-thumb {
	transform: scale(1.2)
}

.video-card input[type=range]::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: rgba(255,255,255,.2);
	border-radius: 2px
}

.video-card input[type=range]::-moz-range-progress {
	background: #ebeef0;
	border-radius: 2px
}

.video-card input[type=range]::-moz-range-thumb {
	box-sizing: content-box;
	width: 13px;
	height: 13px;
	border: 0;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 4px rgba(0,0,0,.24)
}

.video-card input[type=range]:active::-moz-range-thumb {
	transform: scale(1.2)
}

.video-card input[type=range]::-ms-track {
	width: 100%;
	height: 3px;
	border: solid transparent;
	color: transparent;
	cursor: pointer;
	background: 0 0
}

.video-card input[type=range]::-ms-fill-lower {
	background: #fff
}

.video-card input[type=range]::-ms-fill-upper {
	background: #ebeef0
}

.video-card input[type=range]::-ms-thumb {
	box-sizing: content-box;
	width: 13px;
	height: 13px;
	border: 0;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 4px rgba(0,0,0,.24)
}

.video-card input[type=range]:active::-ms-thumb {
	transform: scale(1.2)
}
