@tailwind base; @tailwind components; @tailwind utilities; @tailwind variants; :root {
    --max-width: 1100px;
    --border-radius: 12px;
    --announcement-bar-height: 0px;
    --show-fade-animation: 1;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
    scrollbar-width: thin;
    scrollbar-color: linear-gradient(0deg, #02000d, #2e0040 39.58%, #ffe200), transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: initial;
}

::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgb(35 35 35 / var(--tw-bg-opacity));
    background-color: initial;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #070024, #7737e6 39.58%, #ec38bc);
    border-radius: 30px;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

shadow-button-shadow _2 red {
    transform: translate3d(0rem, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

shadow-button-shadow yellow {
    transform: translate3d(0rem, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

shadow-button-wrap w-inline-block {
    transform: translate3d(0rem, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

callout-image tme-book {
    will-change: transform;
    transform: translate3d(0px, 8vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

img {
    border-radius: 0;
    object-fit: cover;
}

.blog-grid {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.card-thumbnail-wrap {
    background-color: #000;
    display: block;
    overflow: hidden;
    object-fit: cover;
}

.text {
    font-family: var(--inter-font);
    font-weight: 200;
    font-style: italic;
}

.has-text-align-left {
    @apply text-left; }

.has-text-align-center {
    @apply text-center; }

.has-text-align-right {
    @apply text-right; }

.has-large-font-size {
    @apply text-4xl; }

.alignfull {
    @apply w-screen relative; left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    right: 50%;
}

.wp-block-image img {
    @apply max-w-full mt-2; }

.wp-block-image.aligncenter {
    @apply text-center; }

.wp-block-image.alignfull img, .wp-block-image.alignwide img {
    @apply w-full; }

.wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image .aligncenter, .wp-block-image.is-resized {
    @apply table ml-0 mr-0; }

.wp-block-image .alignleft > figcaption, .wp-block-image .alignright > figcaption, .wp-block-image .aligncenter > figcaption, .wp-block-image.is-resized > figcaption {
    @apply table-caption; caption-side: bottom;
}

.wp-block-image .alignleft {
    @apply float-left mr-4; }

.wp-block-image .alignright {
    @apply float-right ml-4; }

.wp-block-image .aligncenter {
    @apply m-auto; }

.wp-block-button a, .wp-block-file a.wp-block-file__button {
    @apply bg-blue-500 text-white no-underline py-2 px-4; }

.wp-block-button a:hover, .wp-block-file a.wp-block-file__button:hover {
    @apply bg-blue-400 cursor-pointer; }

.wp-block-file a:first-of-type {
    @apply mr-4; }

.wp-block-cover {
    @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden; min-height: 430px;
}

.wp-block-verse {
    @apply font-sans; }

.wp-block-media-text {
    @apply grid grid-cols-2 gap-4; }

.mega-xtech-logo-wrap {
    padding: 2rem 2vw;
    border-bottom: 2px solid #000
}

.mega-xtech-logo {
    width: 100%
}

.footer-xtech-icon {
    margin-right: 1rem;
    width: 80px
}
